/* For Desktop or large screen */
@media screen and (min-width: 1200px) {
    .value-row {
        flex-direction: row;
    }
    .values {
        flex-direction: column;
    }
}
/* For Tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .value-row {
        flex-direction: column;
    }
    .values {
        flex-direction: row;
    }
}
/* For Mobile Screen */
@media screen and (max-width: 767px) {
    .value-row {
        flex-direction: column;
    }
    .values {
        flex-direction: column;
    }
}

.value-proposition {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #7a858b;
    line-height: 3rem;
    font-family: "neusa-next-std-condensed";
    font-weight: 500;
    margin: 2rem;
}

.value-row {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    margin: .5rem 0 .5rem 0;
}

.values {
    display: flex;
    gap: .5rem;
    align-items: center;
}